.main{
   display: grid;
   grid-template-columns: 10rem 1fr;
   min-height: calc(100vh - 7rem);
   background-color: #f4a04a;
}

.mainGame {
   min-height: calc(100vh - 4rem)
}

.nav-wrapper {
   position: sticky;
   max-height: 100vh;
   top: 63px;
   left: 0px;
}
.nav-wrapper.open {
   display: flex;
}

.nav{
   z-index: 1;
   width: 10rem;
   min-height: 100%;
   background-color: #f9e084;
   display: flex;
   align-items: center;
   justify-content: center;
}


.nav__list{
   display: flex;
   flex-direction: column;
   row-gap: 50px;
}

.nav__item{
   display: flex;
   gap: 1rem;
   align-items: center;
   padding: 5px;
   transition: 0.3s;
}

.item__logo img{
   width: 2rem;
   height: 2rem;
   transition: 0.5s;
}

.login__text{
   display: none;
}


/***** adaptive ******/
@media screen and (max-width: 1080px) {
   .main{
      position: relative;
      display: block;
   }

   .nav-wrapper {
      position: absolute;
      top: 0px;
      right: 0px;
      margin-left: auto;
      z-index: 5;
      width: 250px;

      display: flex;
      justify-content: flex-end;
      transform: translateY(-110%);
      transition: 350ms;
   }
   .nav-wrapper.open {
      transform: translateY(0%);
   }

   .nav{
      width: 100%;
      max-width: 240px;
      padding: 20px;
      border-bottom-left-radius: 10px;
      border-left: 5px solid #885024;
      border-bottom: 5px solid #885024;
   }
}