.main{
   display: grid;
   grid-template-columns: 10rem 1fr;
   min-height: calc(100vh - 7rem);
   background-color: #f9e084;
}

.mainGame {
   min-height: calc(100vh - 4rem)
}

.nav-wrapper {
   position: sticky;
   max-height: 100vh;
   top: 63px;
   left: 0px;
}
.nav-wrapper.open {
   display: flex;
}

.nav{
   z-index: 1;
   width: 10rem;
   min-height: 100%;
   background-color: #f9e084;
   display: flex;
   align-items: center;
   justify-content: center;
}


.nav__list{
   display: flex;
   flex-direction: column;
   row-gap: 50px;
}

.nav__item{
   display: flex;
   gap: 1rem;
   align-items: center;
   padding: 5px;
   transition: 250ms;
}

.item__logo img{
   width: 2rem;
   height: 2rem;
   transition: 0.5s;
}

.login__text{
   display: none;
}


/***** adaptive ******/
@media screen and (max-width: 1080px) {
   .main{
      position: relative;
      display: block;
      background-color: #f4a04a;
   }

   .nav-wrapper {
      position: absolute;
      top: 0px;
      z-index: 5;
      width: 230px;

      display: flex;
      justify-content: flex-end;
      transform: translateY(-110%);

      transition: 350ms;
      width: 100%;
      border-bottom: 5px solid #885024;
      box-shadow: 3px 3px 5px #333;
   }
   .nav-wrapper.open {
      transform: translateY(0%);
   }

   .nav {
      padding: 20px 0px;
   }

   .nav,
   .nav__list,
   .nav__list a {
      width: 100%;
   }

   .nav__list{
      row-gap: 0px;
   }

   .nav__item{
      padding: 15px;
      justify-content: center;
   }
}