/**** word-card ****/
.card {
  position: relative;
  width: 100%;
  max-width: 300px;
  padding-bottom: 10px;
  
  overflow: hidden;
  border-radius: 20px;
  background-color: #60c7b6;
  box-shadow: 5px 5px 15px #333;
  transition: 200ms;
}
.card:hover {
  transform: translateY(-3px);
  box-shadow: 7px 7px 15px #333;
}

.hard {
  border: 3px solid #ff6549;
}

.card__wrapper {
  padding: 7px 20px 7px 10px;
}

.card__wrapper::before {
  content: '●';
  position: absolute;
}

.card__wrapper p {
  padding: 5px 0px;
  padding-left: 20px;
}


/**** card button ****/
.card__btn {
  position: absolute;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid #f9e084;
  border-left: none;
}
.card__btn img{
  width: 30px;
}

.card__btn_sound {
  border-top: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0px;
}

.card__btn_hard {
  top: 70px;
}
.card__btn_hard.hidden{
  display: none;
}

/**** image ****/
.card__img {
  width: 100%;
}

/**** word ****/
.card__wrapper_word {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card__word {
  font-size: 24px;
}

.card__wrapper_word p {
  padding-left: 0px;
}

.card__wrapper_word::before {
  display: none;
}

.card__transcription {
  margin: 0px 10px;
}