/**** word-card ****/
.card {
  position: relative;
  width: 100%;
  max-width: 300px;
  padding-bottom: 10px;
  
  overflow: hidden;
  border-radius: 20px;
  background-color: #60c7b6;
}

.card__wrapper {
  padding: 7px 20px 7px 10px;
}

.card__wrapper::before {
  content: '●';
  position: absolute;
}

.card__wrapper p {
  padding: 5px 0px;
  padding-left: 20px;
}

/**** sound button ****/
.card__sound-btn{
  position: absolute;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000;
  border-bottom-right-radius: 10px;
}
.card__sound-btn img{
  width: 30px;
}

/**** image ****/
.card__img {
  width: 100%;
}

/**** word ****/
.card__wrapper_word {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card__word {
  font-size: 24px;
}

.card__wrapper_word p {
  padding-left: 0px;
}

.card__wrapper_word::before {
  display: none;
}

.card__transcription {
  margin: 0px 10px;
}