.acg__output, .output__game-frame, .output__game-result {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}

.output__game-definition {
  text-align: center;
}

.output__game-name, .game-result__result-message {
  width: 100%;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

.game-result__result-message {
  padding: 10px;
}

.acg__output p{
  padding: 1.5rem;
  padding-bottom: 0;
  font-size: 1.5rem;
}

.acg__output .output__instructions-title{
  padding-top: 40px;
}

.output__level-list{
  padding: 3rem;
  padding-top: 1.5rem;
  font-size: 1.5rem;
}

.output__level-list li {
  padding: 3px 0px;
}

.output__level-wraper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.output__level {
  width: 45px;
  height: 35px;
  outline: none;
  font-size: 20px;
  border-radius: .25rem;
  border: none;
  background-color: #F9E084;
  transition: .3s ease;
}

.output__btn, .game-result__btn {
  width: fit-content;
  height: 35px;
  font-size: 20px;
  padding: 0px 1rem;
  border-radius: .25rem;
  background-color: #F9E084;
  transition: .2s ease;
}

.game-frame__btn {
  background-color: transparent;
  padding: 5px 10px;
  font-size: 20px;
  border: 3px solid #F9E084;
  border-radius: 10px;
  transition: 200ms;
}
.game-frame__btn:hover {
  background-color: #F9E084;
}

.output__btn:hover,
.output__level:hover,.output__game-frame
.game-frame__audio-btn:hover,
.words-list__audio-btn:hover,
.game-result__btn:hover {
  box-shadow: 0px 0px 15px #885024;
}

.output__btn:active,
.output__level:active,
.game-frame__btn:active,
.game-frame__audio-btn:active,
.words-list__audio-btn:active,
.game-result__btn:active {
  box-shadow: none;
}

.output__game-frame {
  padding: 0 1rem;
  align-items: center;
}

.game-frame__word-image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-position: center;
  background-size: cover;
  transform: scale(2) translateY(-30px);
  border: 4px solid #885024;
}

.game-frame__word-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.game-frame__answers-wrapper {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 18px;
}

.game-frame__answers-wrapper span,
.game-frame__answer {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #F9E084;
  transition: .2s ease;
  box-shadow: 3px 3px 3px #333;
  cursor: pointer;
}

.game-frame__answer:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.game-frame__answers-wrapper span.game-frame__green-answer {
  background-color: #5eac24;
}
.game-result__i-know {
  color: #5eac24;
}

.game-frame__answers-wrapper span.game-frame__red-answer {
  background-color: rgba(204,0,0,1);
}
.game-result__errors {
  color: rgba(204,0,0,1);
}

.game-result__i-know, .game-result__errors {
  padding: 1rem 0;
}

.game-frame__audio-btn, .words-list__audio-btn {
  width: fit-content;
  padding: 13px 13px 8px 13px;
  border-radius: 100px;
  background-color: #F9E084;
}

.game-frame__audio-btn.big {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .5rem;
  border-radius: 100px;
  transition: .2s ease;
}
.game-frame__audio-btn:hover {
  transition: .2s ease;
}

.output__game-result {
  margin: 2rem;
  margin-bottom: 0;
}

.game-result__board {
  width: 100%;
  height: calc(100vh - 12rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: #F9E084;
  overflow-y: auto;
  border: 4px solid #885024;
}

.words-list__word-wrapper {
  width: 100%;
  padding: .5rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.words-list__translate {
  color: #885024;
}

.words-list__audio-btn {
  background: #F4A04A;
  transition: .2s ease;
}

.game-result__btn-wrapper {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}

#word {
  display: none;
  font-size: 30px;
}

/***** adaptive ******/
@media screen and (max-width: 1080px) {
   .acg__output {
      padding: 140px 30px 60px;
   }
   
   .game-frame__answers-wrapper {
    padding: 40px 0;
    flex-direction: column;
    gap: 25px;
    font-size: 18px;
  }  

  .output__game-result {
    margin: 0px;
    transform: translateY(-80px);
  }
}

@media screen and (max-width: 900px) {
  .output__instructions-title{
    padding-top: 80px;
  }
}

@media screen and (max-width: 800px) {
  .output__level-list li{
    padding: 20px;
  }

  .game-result__result-message {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .acg__output  .output__game-definition {
    font-size: 20px;
  }
  .output__level-list li{
    font-size: 20px;
  }
  .game-result__result-message {
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  .output__level-list{
    padding: 0px;
    padding-bottom: 30px;
  }

  .output__level-wraper {
    display: flex;
    flex-direction: column;
  }

  .output__level {
    width: 60px;
  }
  
  .output__game-result {
    padding: 0px;
  }

  .game-result__result-message {
    font-size: 20px;
  }

  .game-result__btn-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .acg__output {
    padding-left: 0px;
    padding-right: 0px;
 }

  .game-result__board {
    height: auto;
    border: none;
  }

  .words-list__word-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }

  .words-list__word-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }

  .words-list__audio-btn {
    padding: 8px 8px 3px 8px;
  }
}

@media screen and (max-width: 400px) {
  .acg__output  .output__game-definition {
    font-size: 18px;
  }
  .output__level-list li{
    font-size: 18px;
  }
}

