.acg__output, .output__game-frame, .output__game-result {
  display: flex;
  flex-direction: column;
}

.output__game-name, .game-result__result-message {
  width: 100%;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

.acg__output p{
  padding: 1.5rem;
  padding-bottom: 0;
  font-size: 1.5rem;
}

.output__level-list{
  padding: 3rem;
  padding-top: 1.5rem;
  font-size: 1.5rem;
}

.output__level-wraper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.output__level {
  height: 1.75rem;
  outline: none;
  border-radius: .25rem;
  border: none;
  background-color: #F9E084;
  transition: .3s ease;
}

.output__btn, .game-frame__btn, .game-result__btn {
  width: fit-content;
  height: 1.75rem;
  padding: .25rem;
  border-radius: .25rem;
  background-color: #F9E084;
  transition: .2s ease;
}

.output__btn:hover,
.output__level:hover,.output__game-frame
.game-frame__btn:hover,
.game-frame__audio-btn:hover,
.words-list__audio-btn:hover,
.game-result__btn:hover {
  box-shadow: 0px 0px 15px #885024;
}

.output__btn:active,
.output__level:active,
.game-frame__btn:active,
.game-frame__audio-btn:active,
.words-list__audio-btn:active,
.game-result__btn:active {
  box-shadow: none;
}

.output__game-frame {
  padding: 0 1rem;
  align-items: center;
}

.game-frame__word-image {
  margin-bottom: .5rem;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 3.75rem;
  background-position: center;
  background-size: cover;
}

.game-frame__word-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.game-frame__answers-wrapper {
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.game-frame__answer {
  transition: .2s ease;
}

.game-frame__answer:hover {
  color: #F9E084;
  cursor: pointer;
}

.game-frame__green-answer, .game-result__i-know {
  color: #5eac24;
}

.game-frame__red-answer, .game-result__errors {
  color: rgba(204,0,0,1);
}

.game-result__i-know, .game-result__errors {
  padding: 1rem 0;
}

.game-frame__audio-btn, .words-list__audio-btn {
  width: fit-content;
  height: 2rem;
  padding: .25rem;
  border-radius: .25rem;
  background-color: #F9E084;
}

.game-frame__audio-btn.big {
  width: 10rem;
  height: 10rem;
  padding-top: .5rem;
  border-radius: 5rem;
  transition: .2s ease;
}

.game-frame__audio-btn:hover {
  transition: .2s ease;
}

.output__game-result {
  margin: 2rem;
  margin-bottom: 0;
}

.game-result__board {
  width: 100%;
  height: calc(100vh - 10.75rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: #F9E084;
  overflow-y: auto;
}

.words-list__word-wrapper {
  width: 100%;
  padding: .5rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.words-list__translate {
  color: #885024;
}

.words-list__audio-btn {
  background: #F4A04A;
  transition: .2s ease;
}

.game-result__btn-wrapper {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}
