.logo{
   height: 3rem;
   width: 3rem;
   transition: 250ms;
}
.logo:hover{
   transform: rotateZ(15deg);
}

.header{
   position: relative;
   z-index: 4;
   background-color: #60c7b6;
   box-shadow: 0px 0px 5px 5px #60c7b6;
   padding: 1rem;
   height: 4rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header__name{
   font-size: 2rem;
   font-weight: 800;
}

.header__login {
   transition: 250ms;
}
.header__login:hover {
   transform: rotateZ(-15deg);
}