.nav__item:hover {
   background-color: #60c7b6;
   border-radius: 10px;
}

.registration__button:hover {
   background-color: #60c7b6;
   width: 18rem;
   box-shadow: 0px 0px 15px #885024;
}


.game__wrapper:hover {
   cursor: pointer;
}
.game__wrapper:hover .gameBefore {
   display: none;
}
.game__wrapper:hover .gameAfter {
   display: flex;
   box-shadow: 0px 0px 15px #885024;
}
