.nav__item:hover {
   background-color: #60c7b6;
   border-radius: 10px;
}

.registration__button:hover {
   background-color: #60c7b6;
   width: 18rem;
   box-shadow: 0px 0px 15px #885024;
}

.card:hover {
   box-shadow: 0px 0px 20px #60c7b6;
}

.card:hover .card__image {
   border-color: #60c7b6;
}

.card:hover .card__image img {
   height: 120%;
}

.card__button:hover {
   background-color: #60c7b6;
   width: 4.5rem;
}

.card__button:hover .card__image{
   border-color: #60c7b6;
   width: 4rem;
}