.homePage{
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 2rem 1rem;
}

.title{
   color: #885024;
}

.homePage__title{
   font-size: 5rem;
}
.homePage__subtitle{
   padding: 2rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   justify-items: center;
   gap: 2rem;
}

.subtitle__content{
   width: 35rem;
   padding: 1rem;
   display: flex;
   align-items: center;
   background-color: #f9e084;
   border-radius: 10px;
   font-size: 1.5rem;
   text-align: left;
}

.subtitle__image{
   width: 100px;
   height: 100px;
}
.registration {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   gap: 1rem;
}

.registration__button{
   width: 20rem;
   height: 3rem;
   background-color: #f9e084;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.3s;
}

/***** adaptive ******/
@media screen and (max-width: 670px) {
   .homePage{
      width: 100%;
   }

   .homePage__title{
      font-size: 60px;
   }

   .header__nav-btn {
      display: flex;
   }

   .homePage__subtitle{
      padding-left: 10px;
      padding-right: 10px;
   }
   .subtitle__text {
      font-size: 20px;
   }
   .subtitle__image{
      width: 60px;
      height: 60px;
   }
}

@media screen and (max-width: 450px) {
   .homePage__title{
      font-size: 50px;
   }

   .homePage__subtitle{
      padding-left: 0px;
      padding-right: 0px;
   }
   .subtitle__text {
      font-size: 18px;
   }
   .subtitle__image{
      width: 40px;
      height: 40px;
   }

   .registration__button {
      width: 250px;
   }
}